<div class="container">
  {{#if messages.success}}
  <div class="text-success">
    {{#each messages.success}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.error}}
  <div class="text-danger">
    {{#each messages.error}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.info}}
  <div class="text-info">
    {{#each messages.info}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}}
  <div class="row">
    <div class="col-sm">
      <h3>Tax 2017</h3>
      <form method="POST" action="tax">
        <label for="amount">Amount</label>
        <input type="text" name="amount" id="amount" autofocus>
        <label for="tax">Tax</label>
        <input type="text" name="tax" id="tax">
        <label for="currency">Currency</label>
        <input type="text" name="currency" id="currency" value="EUR">
        <br>
        <button type="submit">Calculate</button>
      </form>
    </div>
  </div>
</div>